html body { 
    background-color: #F0F2F5;
}

.wrapper {  
    /* margin-top: 10%; */
    display: flex;   
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10% 15% 0 15%;

    
}

.title h1 {
    color: #1877F2;
    font-weight: bolder;
    font-size: 3.7rem;
}
.title p {
    font-size: 1.8rem;
    width: 80%;
}

.login { 
    margin-top: 1rem;
}
.signin { 
    background-color: white;
    padding: 1rem 0.5rem 2rem 0.5rem ;
    border-radius: 1rem;
    text-align: center;
}
.input-group {
    width: 18rem !important;
}
.input-group input {
    margin-top: 0.5rem; 

}


.account { 
    background-color: #42B72A !important;
}
.forgot { 
    text-decoration: none;
    font-size: 0.9rem;
}
.create {
    text-decoration: none;
    color: black !important;
    font-weight: bold;
}
.create_wrapper {
    font-size: 0.9rem;
    text-align: center;
}